<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags and title -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PostMania</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <style>
        .verified-icon {
            margin-left: 3px;
            /* Adjust the margin as needed */
        }

        .verified-icon-sm {
            margin-left: 3px;
            /* Adjust the margin as needed */
        }

        .verified-svg-sm {
            fill: #234bff;

            /* Fill color of the SVG icon */
            width: 18px;
            /* Width of the SVG icon */
            height: 18px;
            /* Height of the SVG icon */
        }

        .verified-svg {
            fill: #234bff;

            /* Fill color of the SVG icon */
            width: 25px;
            /* Width of the SVG icon */
            height: 25px;
            /* Height of the SVG icon */
        }
    </style>
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <!-- Profile Container -->
    <div class="profile-container w-full min-h-screen bg-zinc-900 p-5 text-white">
        <!-- Top Bar -->
        <div class="top flex gap-4 justify-between p-4 z-70 w-[94%] bg-zinc-900 fixed items-center gap-3 top-0">
            <svg class="" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 64 64"
                xml:space="preserve">
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#3B82F6"
                    d="M20 34a2 2 0 1 1-3.999.001A2 2 0 0 1 20 34zm12 30a31.84 31.84 0 0 1-12.55-2.579A5.99 5.99 0 0 1 16 56V45.047A5.047 5.047 0 0 1 21.047 40c1.212 0 2.322.432 3.195 1.146A11.937 11.937 0 0 0 32 44c6.628 0 12-5.372 12-12s-5.372-12-12-12c-4.797 0-8.924 2.822-10.846 6.89l-.021-.012A1.998 1.998 0 0 1 19.343 28a2 2 0 0 1-2-2c0-.432.141-.829.374-1.154C20.344 19.607 25.741 16 32 16c8.836 0 16 7.164 16 16s-7.164 16-16 16c-3.922 0-7.486-1.442-10.262-3.794.002.024-.002.034-.02.021a1.062 1.062 0 0 0-1.718.835V56c0 .749.424 1.384 1.033 1.727A27.67 27.67 0 0 0 32 60c15.465 0 28-12.536 28-28S47.465 4 32 4C16.536 4 4 16.536 4 32v30a2 2 0 1 1-4 0V32C0 14.327 14.327 0 32 0s32 14.327 32 32-14.327 32-32 32z" />
            </svg>

            <div class=" flex gap-4">

                <button><a href="/feed">Feed</a></button>
                <a href="/profile" class="text-white">
                    <div class="w-10 h-10 rounded-[50%] border-[1px] border-zinc-700 overflow-hidden">
                        <img class="w-full h-full object-cover" src="<%= profile.profilepic %>"
                            onerror="this.src='/images/uploads/default.jpg'" />
                    </div>
                </a>
                <button class="border-2 border-blue-500 rounded-md px-2 py-1 text-blue-500"><a href="/logout">Logout</a>
                </button>
            </div>
        </div>

        <!-- User Information -->
        <div class="mt-20">
            <div class="flex gap-3 items-center">
                <div class="w-24 h-24 rounded-full border-2 border-zinc-700 overflow-hidden">
                    <img class="w-full h-full object-cover" src="<%= user.profilepic %>"
                        onerror="this.src='/images/uploads/default.jpg'" alt="Profile Picture" />
                </div>
                <div class="flex flex-col">
                    <div class="flex items-center">
                        <h1 class="text-3xl capitalize flex items-center justify-center">
                            <%= user.name %>
                                <% if (user.name==="Owner" ) { %>
                                    <span class="verified-icon ">
                                        <svg viewBox="0 0 22 22" aria-label="Verified account" role="img"
                                            class="verified-svg">
                                            <g>
                                                <path
                                                    d="M20.396 11c-.018-.646-.215-1.275-.57-1.816-.354-.54-.852-.972-1.438-1.246.223-.607.27-1.264.14-1.897-.131-.634-.437-1.218-.882-1.687-.47-.445-1.053-.75-1.687-.882-.633-.13-1.29-.083-1.897.14-.273-.587-.704-1.086-1.245-1.44S11.647 1.62 11 1.604c-.646.017-1.273.213-1.813.568s-.969.854-1.24 1.44c-.608-.223-1.267-.272-1.902-.14-.635.13-1.22.436-1.69.882-.445.47-.749 1.055-.878 1.688-.13.633-.08 1.29.144 1.896-.587.274-1.087.705-1.443 1.245-.356.54-.555 1.17-.574 1.817.02.647.218 1.276.574 1.817.356.54.856.972 1.443 1.245-.224.606-.274 1.263-.144 1.896.13.634.433 1.218.877 1.688.47.443 1.054.747 1.687.878.633.132 1.29.084 1.897-.136.274.586.705 1.084 1.246 1.439.54.354 1.17.551 1.816.569.647-.016 1.276-.213 1.817-.567s.972-.854 1.245-1.44c.604.239 1.266.296 1.903.164.636-.132 1.22-.447 1.68-.907.46-.46.776-1.044.908-1.681s.075-1.299-.165-1.903c.586-.274 1.084-.705 1.439-1.246.354-.54.551-1.17.569-1.816zM9.662 14.85l-3.429-3.428 1.293-1.302 2.072 2.072 4.4-4.794 1.347 1.246z">
                                                </path>
                                            </g>
                                        </svg>
                                    </span>
                                    <% } %>
                        </h1>
                    </div>
                    <h4 class="text-blue-500 mb-2">@<%= user.username %>
                    </h4>
                    <button class="m-0 bg-zinc-700 border-2 border-zinc-600 px-3 rounded-md">Follow</button>
                </div>
            </div>


            <!-- User Posts -->
            <div class="posts mt-10">
                <h3 class="text-zinc-400">All Posts</h3>
                <div class="postcontainer mt-5">
                    <% if(user.posts.length==0){%>
                        <h3 class="text-zinc-400">No posts yet!</h3>
                        <%}%>
                            <% user.posts.reverse().map((post)=> { %>
                                <div class="post w-1/3 p-4 mb-4 rounded-md bg-zinc-800 border-[1px] border-zinc-700">
                                    <div class="flex gap-2 items-center mb-3">
                                        <div
                                            class="w-10 h-10 rounded-[50%] border-[1px] border-zinc-700 overflow-hidden">
                                            <img class="w-full h-full object-cover" src="<%= user.profilepic %>"
                                                onerror="this.src='/images/uploads/default.jpg'" alt="Profile">
                                        </div>
                                        <div class="flex flex-col gap-0">
                                            <h4 class="text-blue-500 flex items-center">@<%= user.username %>

                                                    <% if (user.name==="Owner" ) { %>
                                                        <span class="verified-icon-sm ">
                                                            <svg viewBox="0 0 22 22" aria-label="Verified account"
                                                                role="img" class="verified-svg-sm">
                                                                <g>
                                                                    <path
                                                                        d="M20.396 11c-.018-.646-.215-1.275-.57-1.816-.354-.54-.852-.972-1.438-1.246.223-.607.27-1.264.14-1.897-.131-.634-.437-1.218-.882-1.687-.47-.445-1.053-.75-1.687-.882-.633-.13-1.29-.083-1.897.14-.273-.587-.704-1.086-1.245-1.44S11.647 1.62 11 1.604c-.646.017-1.273.213-1.813.568s-.969.854-1.24 1.44c-.608-.223-1.267-.272-1.902-.14-.635.13-1.22.436-1.69.882-.445.47-.749 1.055-.878 1.688-.13.633-.08 1.29.144 1.896-.587.274-1.087.705-1.443 1.245-.356.54-.555 1.17-.574 1.817.02.647.218 1.276.574 1.817.356.54.856.972 1.443 1.245-.224.606-.274 1.263-.144 1.896.13.634.433 1.218.877 1.688.47.443 1.054.747 1.687.878.633.132 1.29.084 1.897-.136.274.586.705 1.084 1.246 1.439.54.354 1.17.551 1.816.569.647-.016 1.276-.213 1.817-.567s.972-.854 1.245-1.44c.604.239 1.266.296 1.903.164.636-.132 1.22-.447 1.68-.907.46-.46.776-1.044.908-1.681s.075-1.299-.165-1.903c.586-.274 1.084-.705 1.439-1.246.354-.54.551-1.17.569-1.816zM9.662 14.85l-3.429-3.428 1.293-1.302 2.072 2.072 4.4-4.794 1.347 1.246z">
                                                                    </path>
                                                                </g>
                                                            </svg>
                                                        </span>
                                                        <% } %>
                                            </h4>
                                            <p class="text-sm text-zinc-500">
                                                <%= formatDistanceToNow(new Date(post.date), { addSuffix: true }) %>
                                            </p>
                                        </div>
                                    </div>
                                    <p class="post-content text-sm text-white tracking-tight">
                                        <%= post.content %>
                                    </p>
                                    <div
                                    class="border-t-[1px] flex justify-between items-center border-t-zinc-700 mt-5 py-3 text-sm">
                                    <div class="flex justify-center gap-2 items-center">
                                        <a href="/like/<%= post._id %>" class="text-pink-500">
                                            <%if( post.likes.indexOf(profile._id)===-1 ){%>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                    viewBox="0 0 24 24">
                                                    <path
                                                        d="M12 9.229c.234-1.12 1.547-6.229 5.382-6.229 2.22 0 4.618 1.551 4.618 5.003 0 3.907-3.627 8.47-10 12.629-6.373-4.159-10-8.722-10-12.629 0-3.484 2.369-5.005 4.577-5.005 3.923 0 5.145 5.126 5.423 6.231zm-12-1.226c0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-7.962-9.648-9.028-12-3.737-2.338-5.262-12-4.27-12 3.737z"
                                                        fill="crimson" />
                                                </svg>
                                                <%}else{%>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                        viewBox="0 0 24 24" fill="crimson">
                                                        <path
                                                            d="M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z" />
                                                    </svg>
                                                    <%}%>
        
                                        </a>
                                        <span class="h-1 w-1 bg-zinc-700 rounded-full"></span>
                                        <h3>
                                            <%= post.likes.length %> Likes
                                        </h3>
                                    </div>
                                    <a href="/likes/<%= post._id %>">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                                            <path
                                                d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z"
                                                fill="#ffffff" />
                                        </svg>
                                    </a>
                                </div>
                                   
                                </div>
                                <% }) %>
                </div>
            </div>
        </div>
    </div>

    <!-- Script for Mention Highlighting -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            highlightMentions();
        });

        function highlightMentions() {
            const postContents = document.querySelectorAll('.post-content');

            postContents.forEach(content => {
                const regex = /@(\w+)/g;
                let html = content.innerHTML;

                html = html.replace(regex, '<a class="text-blue-500 " href="/user/$1">@$1</a>');
                content.innerHTML = html;
            });
        }
    </script>
</body>

</html>